body{
    font-family: 'Antic Slab', serif;
}
.container-score-chrono{
    display: flex;
    width: 1000px;
    justify-content: center;
    margin: auto;

}
.stop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.button-stop-pause{
    display: flex;
    justify-content: space-evenly;

}
.button-stop{
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: rgb(101, 101, 101);


    font-family: 'Antic Slab', serif;
    color: white;
}
.button-stop:hover{
    background-color: rgb(27, 96, 126); 
    color: white;
}
.container-timer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;

}
.container-score-objective{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    border-radius: 24px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #333;
    color: white;
    margin-right: 200px;

}
.chrono{
    width: 250px;
    height: 100px;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #333;
    color: white;


}
.container{
    display: block;
    margin: 60px auto;
    align-items: center;
    width: 1055px;
    position: relative;
}
.hideBoard{
    position: absolute;
    width: 100%;
    height: 700px;
    background-color: white;
    top: -5px;
    left: 0px;
}
.container-top{
    display: flex;
}

.container-middle{
    display: flex;
    justify-content: space-between;
}

.container-middle-left, .container-middle-right{
    width: 103px;
    display: flex;
    flex-direction: column;    
}

.container-middle-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
    width: 400px;
    height: 170px;
    margin: 100px 0px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
}


.buttonAnswer{
    position: relative;
    background-color: rgb(155, 157, 155);
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 30px;
    width: 100px;
    margin: 0px 30px;
    font-family: 'Antic Slab', serif;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-weight: bolder;
    
    
}

.buttonAnswer:hover{
    background-color: rgb(27, 96, 126); 
    color: white;
}

.answerQuestion{
    margin-bottom: 50px;
    display: none;
}


.button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3f9091;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    font-family: 'Antic Slab', serif;
    font-weight: bolder;
}
.button:active {
  background-color: #3f9091b8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.container-bottom{
    display: flex;
    height: 100px;
    
}

.start{
    color: white;
    font-size: 15px;
    background-color: black;
    font-weight: bolder;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: 4px solid #555;
    margin-top: -3px;
    margin-right: -5px;
    margin-bottom: -3px;
}
.orange{
    background-color: #ff9800;
}

.blue{
    background-color: #2196f3;
}

.green{
    background-color: #4caf50;
}

.purple{
    background-color: #673ab7;
}

.yellow{
    background-color: #ffeb3b;
}

.pink{
    background-color: #e91e63;
}

.grey{
    filter: opacity(35%);
}