body{
    background-color: black;
    font-family: 'VT323', monospace;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-top{
    display: flex;
}

.container-middle{
    display: flex;
}
.container-bottom{
    display: flex;
}

.text{
    color: blanchedalmond;
    font-size: 45px;

}
